.header {
    margin-bottom: 2.5rem;
}

.container__credictCard {
    top: 50%;
    left: 50%;
}

.container__credictCard__back {
    transform: translate(-40%, -70%);
}

.container__credictCard__front {
    transform: translate(-60%, -10%);
}

.main {
    margin: auto 0%;
}

.form__label__legend {
    font-size: 1rem;
}