body {
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: 95vh 5vh;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    background-image: url(/bg-main-desktop.png);
    background-size: cover;
    margin: 0;
}

.header__img {
    display: none;
}

.container {
    position: absolute;
    left: 40%;
    height: max(50%);
    width: max(30vw);
    display: flex;
    flex-flow: column nowrap;
}

.container__credictCard {
    position: absolute;
    top: 50%;
    left: 50%;
    width: clamp(250px, 100%, 20vw);
    height: fit-content;
    font-size: 1vw;
    font-family: var(--tipo-principal);
    color: var(--color-white);
}

.container__credictCard__front {
    order: -1;
    transform: translate(-60%, -110%);
}

.container__credictCard:before {
    content: "";
    position: absolute;
    top: 0%;
    right: 0%;
    width: 50%;
    height: 100%;
    border-radius: var(--padding);
    box-shadow: 25px 15px 40px 20px rgb(100 100 100 / 20%);
    z-index: -1;
}

.container__front__elements {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3fr 1fr 0.5fr;
    position: absolute;
    bottom: 0%;
    margin: 1rem;
    width: calc(100% - 2rem);
    height: max(100% - 2rem);
}

.container__front__img {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    width: 50%;
}

.container__credictCard__number {
    font-size: 1.5vw;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

.subContainer__date {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    display: flex;
    justify-content: end;
    font-size: 1.2vw;
}

.container__name {
    margin-right: auto;
}

.container__date {
    text-align: center;
    width: 15%;
    pointer-events: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    appearance: none;
}

.container__credictCard__back {
    transform: translate(-40%, 10%);
    background-size: cover;
    border-radius: var(--padding);
}

.container__input {
    position: absolute;
    top: 42.5%;
    right: 10%;
    width: 20%;
    text-align: end;
    pointer-events: none;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-flow: column nowrap;
    width: clamp(315px, 50%, 700px);
    height: fit-content;
    gap: 0.8rem;
    padding: var(--padding);
}

.form__label {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 100%;
    height: auto;
    row-gap: 0.5rem;
    color: var(--color-dark-violet);
    font-weight: 700;
    letter-spacing: 2px;
}

.form__label__legend:not(.label__legend) {
    display: flex;
    align-items: center;
    padding: var(--padding);
    font-size: 1.2rem;
    height: clamp(1rem, 50%, 3rem);
    width: 100%;
}

.label {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr) minmax(10px, 20px);
    gap: var(--padding);
}

.label__legend {
    display: flex;
    align-items: center;
    height: clamp(1rem, 100%, 3rem);
    padding: 0px var(--padding);
    grid-row: 1;
    grid-column: auto / span 2;
}

.label__input {
    border-radius: var(--border-radius);
    grid-row: 2;
}

.form input {
    height: clamp(1rem, 50%, 3rem);
    padding: var(--padding);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-light-gray-violet);
}

.form input:focus-visible,
.form input:focus {
    border: 1px solid transparent;
    outline: none;
    background: linear-gradient(var(--color-white), var(--color-white)) padding-box, linear-gradient(90deg, var(--color-gradient-active-1), var(--color-gradient-active-2)) border-box;
}

.label>input:not(:last-child) {
    height: 100%;
    width: 100%;
}

.label>.label__input:not(:not(:last-child)) {
    height: 100%;
    grid-column: auto / span 2;
}

button[type=submit] {
    margin-top: 1rem;
    border-radius: var(--border-radius);
    padding: calc(var(--padding) * 2) var(--padding);
    font-size: 1rem;
    height: clamp(1rem, 80%, 3rem);
    background: var(--color-dark-violet);
    color: var(--color-white);
    cursor: pointer;
    transition: background 0.3s ease-out;
}

button[type=submit]:hover,
button[type=submit]:focus,
button[type=submit]:focus-visible {
    background: var(--color-dark-violet-hover);
    outline-offset: 2px;
    outline: solid 2px var(--color-dark-violet);
}

.footer {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);

    grid-area: 2 / 1 / -1 / -1;
}

.attribution>a {
    position: relative;
    color: var(--color-dark-violet);
}

.attribution>a::after {
    content: "";
    position: absolute;
    border: 1px solid var(--color-dark-gray-violet);
    width: 0%;
    height: 0%;
    top: 100%;
    left: 50%;
    opacity: 0;
    transition: width 0.5s ease-out, left 0.5s ease-out, opacity 0.5s ease-out;
}

.attribution>a:hover::after {
    transition: width 0.5s ease, left 0.5s ease, opacity 0.5s ease-in;
    width: 100%;
    left: 0%;
    opacity: 1;
}